<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Search -->

    <!-- Topbar Navbar -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1><a href="{% url 'category' %}">ArxivApp</a></h1>
    </div>
    <ul class="navbar-nav ml-auto">
        <ul>
            <a href="{% url 'login' %}">
                <button type="button" class="btn btn-success btn-lg">
                    login
                </button>
            </a>
            <a href="{% url 'logout' %}">
                <button type="button" class="btn btn-success btn-lg">
                    logout
                </button>
            </a>
            <a href="{% url 'my_post_page' %}">
                <button type="button" class="btn btn-secondary btn-lg">
                    Articles you commented
                </button>
            </a>
            <a href="{% url 'my_like_page' %}">
                <button type="button" class="btn btn-secondary btn-lg">
                    Articles you like
                </button>
            </a>
        </ul>
    </ul>

</nav>
<!-- End of Topbar -->